body{
  background-color: $black;
  max-width: 960px;
}
main{
  margin: auto;
  // margin-left: 200px;
}
header{
  text-align: center;
}
#container > .half {
  @include halfBox;
  text-align: center;
}.quarter{
  @include quarterBox;
}.third{
  @include thirdBox;
}.full{
  @include fullBox;
}
img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
img:hover{
  box-shadow: 0 0 4px 2px rgba(255,255,255, .5);
}
h2{
  font-family: 'Zen Dots', cursive;
}
h1{
  font-family: 'Antonio', sans-serif;
  color: $white;
}
p, figcaption{
  font-family: 'Antonio', sans-serif;
}
