// combined attributes that we can load in at once. think about...

@mixin gridBox {
  width: $equ;
  height: auto;
  background: $pastelPurp;
  border: 5px solid $pastelTan;
  border-radius: 20px;
  box-sizing: border-box;
  float: left;
  margin:15px;
}
